<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527146723246-290rul30bpsou622doueb2reumke01l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527146723246-290rul30bpsou622doueb2reumke01l3</string>
	<key>API_KEY</key>
	<string>AIzaSyBZsP2H9IzXJz_X4dClC1LZ7QxJPb6lVJM</string>
	<key>GCM_SENDER_ID</key>
	<string>527146723246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diall.app</string>
	<key>PROJECT_ID</key>
	<string>diall-app-ce076</string>
	<key>STORAGE_BUCKET</key>
	<string>diall-app-ce076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527146723246:ios:b28441a1ee64cd022b8a3f</string>
	<key>DATABASE_URL</key>
	<string>https://diall-app-ce076-default-rtdb.firebaseio.com</string>
</dict>
</plist>